{% extends "base.html" %}
{% block title %} Главная страница{% endblock %}
{% load static %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create' %}">Создание записи</a>

    </li>
{% endblock %}
{% block content %}
    <h1>Главная Страница</h1>
    {% for guest in  guests %}
        <div class="card bg-light mb-3" style="max-width: 25rem;">
        <div class="card-header">{{ guest.name }} ({{ guest.email }})&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'update' guest.pk %}"><i class="fa-solid fa-pencil"></i></a>
            <a href="{% url 'delete' guest.pk %}"><i class="fa-solid fa-trash-can"></i></a></div>
        <div class="card-body">
            <p class="card-text">{{ guest.text }}</p>
        </div>
        <br>
    {% endfor %}
{% endblock %}